nav .brand-logo {
    padding: 0 0 0 15px;
}

nav {
    background-color: #606467;
}

.pad {
    padding-top: 12px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: lighter;
    color: #000000;
    background-image: url("../images/learn1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20%;
    background-size: 50%;
}

form {
    color: #000000;
}

main {
    flex: 1 0 auto;
}

#empty-category {
    padding-top: 25%;
    color: #000000;
    font-size: large;
}

#login-form {
    padding-top: 10%;
}

#registration-form {
    padding-top: 5%;
}

#fa-color {
    color: #606467;
}